.brand-logo {
  margin-left: 15px;
}

.student .card-title {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-top: -18px;
}

#delete-icon {
  color: #d42d2d;
}

#delete-icon:hover {
  cursor: pointer;
  color: #ab3c3c;
}